.Header {
	margin-bottom: 24px;
	background: #FFFFFF;
	border: 1px solid #DBDCDE;

	box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
	border-radius: 8px;
	overflow: hidden;

	h1 {
		margin: 28px 28px 28px 32px;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;

		color: #2F2F30;
	}

	&__Search {
		display: flex;
		padding: 15px 16px 15px 32px;

		background-color: #FAFAFA;
		border-top: 1px solid #DBDCDE;
	}
	
	&__InputWrapper {
		position: relative;
		display: flex;
		align-items: center;
		width: 336px;
		margin-right: 40px;
	}

	&__Icon {
		position: absolute;
		left: 16px;
		top: 11px;
	}

	input {
		width: 100%;
		padding-left: 40px;
		height: 38px;

		font-size: 16px;
		line-height: 24px;

		border: 1px solid #DBDCDE;
		border-radius: 8px;

		box-sizing: border-box;
	}

	&__SelectWrapper {
		position: relative;
	}

	&__SelectArrow {
		position: absolute;
		top: 0.5rem;
		right: 0.625rem;
	}

	select {
		padding: 0.5rem 1.625rem 0.5rem 0;
		height: 2.5rem;
		border: none;

		font-size: 1rem;
		line-height: 1.5rem;

		color: #2F2F30;
		background-color: transparent;

		-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	}

	@media only screen and (max-width: 550px) {
		&__Search {
			flex-direction: column;
			align-items: flex-start;
		}

		&__InputWrapper {
			margin-bottom: 16px;
		}
	}
}
