.Donation {
   margin-bottom: 24px;

   color: var(--text);

   background: #FFFFFF;
	border: 1px solid #DBDCDE;

	box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
   border-radius: 8px;
   overflow: hidden;

   &__Currency {
      display: inline-block;
      margin-right: 8px;
      width: 18px;
      height: 18px;
      color: var(--blue);
   }

   &__SubTitle {
      display: flex;
      align-items: center;
      margin: 0;
      margin-bottom: 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
   }

   &__Amount {
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;

      color: #00A651;
   }

   &__AmountInOtherCurrecy {
      padding-left: 9px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: var(--dark-gray);
   }

   &__Id {
      margin-bottom: 4px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      font-family: 'Code Pro', sans-serif;
      color: #919293;
   }

   &__IdValue {
      display: flex;
      align-items: center;
      font-family: 'Code Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: var(--text);

      & > span {
         margin-left: 8px;
         height: 18px;
      }
   }
   
   &__InfoWrapper {
      display: flex;
		padding: 15px 16px 15px 0;

		background-color: #FAFAFA;
      border-top: 1px solid #DBDCDE;
      
      overflow-x: auto;
   }

   &__AmountWrapper {
      padding: 24px 32px 23px;
      display: flex;
      justify-content: space-between;
   }

   &__InfoColumn {
      padding: 0 12px 0 32px;

      &:not(:first-child) {
         padding: 0 32px;
         border-left: 1px solid #DBDCDE;
      }
   }

   &__Label {
      margin-bottom: 2px;
      font-size: 14px;
      line-height: 20px;

      color: var(--dark-gray);
   }

   &__InfoColumn:first-child &__Label {
      margin-bottom: 4px;
   }

   &__Status {
      display: flex;
      align-items: center;
      color: #00A651;

      & > span {
         margin-right: 8px;
         display: flex;
      }
   }

   a {
      padding-left: 16px;

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      text-decoration-line: underline;

      color: var(--purple);

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
   }

   @media only screen and (max-width: 748px) {
      &__AmountWrapper {
         flex-direction: column;

         & > div:nth-child(2) {
            margin-top: 16px;
            display: flex;
            align-items: center;
            align-self: flex-end;
         }
      }

      &__Id {
         margin-bottom: 0;
      }

      &__IdValue {
         margin-left: 8px;
      }

      &__InfoWrapper {
        flex-direction: column;
				padding: 15px 0;
        overflow-x: inherit;
      }

      &__InfoColumn {
         padding: 0 32px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         border: none;

         &:not(:first-child) {
            border: none;
         }

         &:not(:last-child) {
            padding-bottom: 2px;
         }
      }
    }
}