.Menu {
  background: #FFFFFF;
  box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
  border-radius: 8px;
  border: 1px solid #DBDCDE;

   &__Icon {
     width: 18px;
     height: 18px;
     margin-right: 8px;
   } 

  &__ItemWrapper {
    padding: 11px 16px 11px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #DBDCDE;
    box-sizing: border-box;

    &:hover {
      background-color: #F3F3F3;
    }

    &--active {
      background-color: #F3F3F3;
    }
  }

  &__Item {
    display: flex;
    align-items: center;

    color: #2F2F30;
  }
  &__Text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }

  @media only screen and (max-width: 990px) {
    &__Text {
      display: none;
    }
  }

}

.Sprite {
  display: none;
}
