.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  overflow: hidden;

  background-color: #f3f2f2;


  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    margin: 53px auto 0;
    width: 80%;
  }

  &__Wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__Menu {
    margin-left: 24px;
    width: 264px;
  }

  &__Content {
    flex-grow: 1;
  }
}
